MLFLOW_SERVER_PORT=5000
MLFLOW_UI_PORT=5001
MLFLOW_DATABASE_URI=./case/mlruns.sqlite
LOGURU_LOGGING_LEVEL='DEBUG'
LOGURU_DEBUG_DESTINATION='./artifacts/case.log'
CACHE_AS_PARQUET_IF_NO_CACHED_FILE_EXISTS = True

layout python
