seaborn
plotly
streamlit
numpy
scipy
pandas
matplotlib
pandas-profiling[notebook]
ipykernel
jupyterlab
networkx
pyshp
geopandas
pytest
hiplot
streamlit-folium
streamlit-keplergl
watchdog
git+https://github.com/python-visualization/branca
pydeck
